<?xml version="1.0" encoding="utf-8"?>
<!--
PopBell Application for Android
Copyright (C) 2013 SimpleMinds Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simpleminds.popbell"
    android:versionCode="5"
    android:versionName="0.4 beta" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.simpleminds.popbell.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />ㅂ

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.simpleminds.popbell.AppBlackList"
            android:label="@string/title_activity_app_black_list"
            android:theme="@style/Theme.Detecter"
            android:parentActivityName="com.simpleminds.popbell.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.simpleminds.popbell.MainActivity" />
        </activity>
        <activity
            android:name="com.simpleminds.popbell.AddnewtoBlacklist"
            android:label="@string/title_activity_addnewto_blacklist"
            android:theme="@style/Theme.Detecter"
            android:parentActivityName="com.simpleminds.popbell.AppBlackList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.simpleminds.popbell.AppBlackList" />
        </activity>
        <activity
            android:name="com.simpleminds.popbell.Tutorial"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.simpleminds.popbell.Appinfo"
            android:label="@string/title_activity_appinfo"
            android:parentActivityName="com.simpleminds.popbell.MainActivity"
            android:theme="@style/Theme.Info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.simpleminds.popbell.MainActivity" />
        </activity>
        <activity
            android:name="com.simpleminds.popbell.Appinfo_Notices"
            android:label="@string/notices"
            android:parentActivityName="com.simpleminds.popbell.Appinfo"
            android:theme="@style/Theme.Info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.simpleminds.popbell.Appinfo" />
        </activity>
        <activity
            android:name="com.simpleminds.popbell.Doc_Parsing"
            android:label="@string/notices"
            android:theme="@style/Theme.Info"
            android:parentActivityName="com.simpleminds.popbell.Appinfo_Notices" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.simpleminds.popbell.Appinfo_Notices" />
        </activity>
        <activity
            android:name="com.simpleminds.popbell.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" 
            android:excludeFromRecents="true">
        </activity>
        <service
            android:name="com.simpleminds.popbell.NotiDetector"
            android:canRetrieveWindowContent="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/sysnotidetector_service_config" />
        </service>
        <service android:name="com.simpleminds.popbell.DialogWindow" >
        </service>
        <service android:name="com.simpleminds.popbell.PinedDialogWindow" >
        </service>
        <service android:name="com.simpleminds.popbell.TouchTrigger" >
        </service>
        <receiver android:name=".PluginDataReceiver">
            <intent-filter>
                <action android:name="com.sompleminds.popbell.PLUGIN.PASSDATA">
            	</action>
            </intent-filter>
        </receiver>  
    </application>

</manifest>
